
@import url('https://fonts.google.com/specimen/Kumbh+Sans');

* {

    box-sizing: border-box;  
    margin: 0; 
    padding: 0;
    font-family: 'Kumbh', sans-serif;
}

body {
    position: relative;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    height: 100vh;
    font-size: 16px;
    color: hsl(237, 12%, 33%);
   
}

h2 {
    font-weight: 700;
}

.box {

    margin-left: -95px;
    margin-top: 180px;
 
}
.pattern-mobile {
    display: none;
}
.woman-mobile {
    display: none;
}

.container {
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-gap:10px;
    background-color: #ffffff;
    margin:auto 0;
    border-radius: 1rem;
  
}

.image {
    grid-column: 1;
    background-image: url(./images/illustration-woman-online-desktop.svg),
    url(./images/bg-pattern-desktop.svg) ;
    background-repeat: no-repeat;
    background-size: 400px auto;
    background-position: -60px 40px;
  
}

.questions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 20px 20px 0;
    padding-right: 45px;
    grid-column: 2;
    margin: auto 0;
    
}

.question {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid gray;
    padding: 15px 0px;
    width: 100%;

}

.question-btn {
    background-color: transparent;
    border: transparent;
    transition: transform 0.5s;
    justify-self: end;
    outline: none;
   
}

.question-btn:hover {
    transform: scale(1.5); 
    cursor: pointer;
    
}


.arrow-up {
    transform: rotate(180deg);
    transition: transform 0.4s;
}



.question-title {
    width:100%;
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items:center;
    justify-content: space-between;

}

.show-text .question-text {
    font-size: 12px;
    display: flex;
    color: hsl(240, 6%, 50%);

}

.show-text .question-title {
    font-weight:bold;
}

.question-text {
    line-height: 1.1rem;
    display: none;
}

.attribution { 
     font-size: 11px;
     text-align: center;

}

.attribution a {
     color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 958px) {
    body {
        font-size: 16px;
    }

    .container {
        position: relative; 
        display: grid;
         grid-template-columns: 1fr;
        grid-template-rows:  1fr;
        grid-gap: 10px;
        height: 60%;
        background-color: #ffffff;
        border-radius: 1rem;
        height: max-content;
        min-width: 375px;
        margin: auto;
    }

    h2  {
        margin: 25px 0;
        align-self: center;
        font-size: 2.6rem;
   
    }

    .show-text .question-text {
        font-size: 12px;
    }

    .image {
        background-image: none;
    }

    .pattern-mobile {
        display: block;
        text-align: center;
        margin-left: 45px;
    }

    .woman-mobile {
        top:-100px;
        display: block;
        margin-top: -220px;
        text-align: center;

    }

    .box {
        display: none;
    }

    .questions {
        display: flex;
        align-items: flex-start;
        padding: 0 30px;
        grid-column: 1;
        grid-row: 2;
        

    }



}